body {
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid blue;
    height: 50rem;
}
#container {
    border: 1px solid black;
    border-radius: 10px;
    background-color: aqua;
    height: 30rem;
    width: 20rem;
}
form{
    display: flex;
    flex-direction: column;
}